html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* CSS for delayed hover effect */
.modal {
  display: none;
  transition: visibility 0s, opacity 0.5s linear;
  transition-delay: 2s; /* Adjust the delay as needed */
}

.modal-content {
  transition-delay: 0s; /* No delay when leaving the modal */
  box-shadow: 0 8px 6px -6px #ddddff;
  padding: 10px;
}

.hover-tooltip {
  cursor: pointer;
}

#prompt {
  min-width: 300px;
}

td.description {
  text-align: left;
  padding-left: 64px;
  font-size: 14px;
  color: darkgray;
}
